/* Used to detect in JavaScript if apps have loaded styles or not. */
:root {
    --reach-dialog: 1;
  }
  
[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.74);
  backdrop-filter: blur(4px);
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 100;
}

[data-reach-dialog-content] {
  background: #2a2b32;
  color: #f5f5f5;
  padding: 2rem;
  outline: none;
}