@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom CSS below */

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #9EAEBF #2B3747;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #9EAEBF;
    border-radius: 15px;
}
