@tailwind base; 
@tailwind components; 
@tailwind utilities;

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #2b2c34 #ffffff;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #2b2c34;
    border-radius: 15px;
}