:root {
    --reach-slider: 1;
  }
  
  [data-reach-slider-input][data-orientation="horizontal"] {
    height: 8px;
  }
  
  [data-reach-slider-input][data-orientation="vertical"] {
    width: 4px;
    height: 250px;
    max-height: 100%;
    max-width: calc(100% - 60%);
    padding-left: 30px;
    padding-right: 30px;
  }
  
  [data-reach-slider-input][data-disabled] {
    opacity: 0.5;
  }
  
  [data-reach-slider-track] {
    border-radius: 10px;
  }
  
  [data-reach-slider-track][data-orientation="horizontal"] {
    height: inherit;
  }
  
  [data-reach-slider-track][data-orientation="vertical"] {
    height: 100%;
  }
  
  [data-reach-slider-handle] {
    border: 2px solid #9DAEBF;
    background: #9DAEBF;
    border-radius: 10px;
  }
  
  [data-reach-slider-handle][aria-orientation="horizontal"] {
    top: 50%;
    transform: translateY(-50%);
  }
  
  [data-reach-slider-handle][aria-orientation="horizontal"]:focus {
    transform: translateY(-50%);
  }
  
  [data-reach-slider-handle][aria-orientation="vertical"] {
    left: 50%;
    transform: translateX(-50%);
  }
  
  [data-reach-slider-handle][aria-orientation="vertical"]:focus {
    transform: translateX(-50%);
  }
  
  [data-reach-slider-track-highlight] {
    border-radius: inherit;
    background: #1DB954;
  }
  
  [data-reach-slider-track-highlight][data-orientation="horizontal"] {
    height: 100%;
  }
  
  [data-reach-slider-track-highlight][data-orientation="vertical"] {
    width: 100%;
  }
  
  [data-reach-slider-marker] {
    width: 8px;
    height: 8px;
    background: inherit;
    border: 1px solid #fff;
    border-radius: 4px;
    transform-origin: center;
  }
  
  [data-reach-slider-marker][data-orientation="horizontal"] {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  [data-reach-slider-marker][data-orientation="vertical"] {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  [data-reach-slider-marker][data-state="at-value"],
  [data-reach-slider-marker][data-state="under-value"] {
    background: #1159a6;
  }
  