@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom CSS below */

/* based on https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.boxPop {
    transition: all .05s;
}

.boxPop:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    border-radius: 10px;
    border: 2px solid #1DB954;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #9EAEBF #2B3747;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #9EAEBF;
    border-radius: 15px;
}
